<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius:7rem;width:84%;margin:12px auto;">
    <a class="navbar-brand " href="" style="font-size: 2rem; margin-left:3% ;@media(max-width:1158px){
    font-size: 1rem;
    margin-left: 3%;
    }"id="logo">Complainbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="container " style="margin-left:22%"id="navbar-container">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registercomplaint">Register-Complaint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userprofile">
                      <i class="fas fa-user-circle"style="font-size:2rem" ></i> 
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>