<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Complain-book</title>
</head>

    <body style="background-color: #F7E0B8;">
       <!-- code for navbar starts -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="" @mediaid="logo">Complainbook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01" >
            <div class="container float-right " style="margin-left:50%;padding-left:2%"id="navbar-container">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registercomplaint">New-Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usercomplaint">Register-Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userprofile">
                          <span style="font-weight:bolder;color:white"><%= user.fname %></span> 
                        </a>
                    </li>

                </ul>
            </div>
            
        </div>
    </nav>
       <!-- code for navbar ends -->
        <div class="container bg-dark" Style="width:1000px;height:300px" >
            <div class="row mt-5" style="height:500px">
                <div class="col-lg-4 bg-white m-auto rounded-top wrapper" style="height:500px;width:1000px">
                    <h2 class="text-center pt-3">Add-A-Complaint</h2>
                <!--Form start -->
                 <form action="#" method="post" style="margin:50px">
                  
                
                    <div class="input-group mb-5">
                        
                        <!-- <input type="textarea" class="form-control" placeholder="Describe Your Complaint" name="email"> -->
                        <p style="margin-top:15px"><label for="w3review">Enter Description Of your problem </label></p>
                        <textarea id="w3review" name="description" rows="4" cols="50" style="margin-left: 20px;"></textarea>
                    </div>
                    <div class="input-group mb-5">
                        <p style="margin-top:15px; margin-right:10px"><label for="choices">Type of Problem </label></p>
                        <select class="choices" name="example">
                            <option value="Choose an option" name="c1">Choose an option</option>
                            <option value="Carpenter" name="Carpenter">Carpenter</option>
                            <option value="Electrician" anme="Electrician">Electrician</option>
                            <option value="Plumber" name="Plumbers">Plumber</option>
                            <option value="Others" name="Others">Others</option>
                          </select>
                          
                    </div>
                   
                    <div class="d-grid mb-5">
                        <button type="submit" class="btn btn-success">Post</button>
                        
                    </div>
                    <% if (!para) { %>
                        <div class="d-grid mb-5">
                            <p>For Complaints to be Paid <a href="/payments">Click here</a></p>
                            
                        </div>
                      <% } %>
                    
                 </form>
                  <!--Form ends -->
                </div>
            </div>
            
        </div>
        <footer style="position: fixed;bottom: 0;width: 100%;">
            <div class="center" style="background-color: black;color: wheat;text-align:center">
                Copyright &copy; www.complainbook.com. All rights reserved!
            </div>
        </footer>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</body>
</html>