<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complain-Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <%- include('./partials/nav') %>
        <div style="display:inline;margin-left:20%;">
        <div class="product " style="margin-left:20%;margin-top:20%">
         
          <div class="description">
            <h3>Standard Complaints</h3>
            <h5>Rupees 100 only</h5>
          </div>
        </div>
        <form action="/payments" method="POST">
          <button type="submit" id="checkout-button">Checkout</button>
        </form>
      </div>
      </body>
    </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        



        

</body>

</html>